@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
:root{
    --Very-Dark-Blue: hsl(243, 87%, 12%);
    --Desaturated-Blue: hsl(238, 22%, 44%);
    --Bright-Blue: hsl(224, 93%, 58%);
    --Moderate-Cyan: hsl(170, 45%, 43%);
    --Light-Grayish-Blue: hsl(240, 75%, 98%);
    --Light-Gray: hsl(0, 0%, 75%);
}

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
nav, .top-container{
    padding: 2em 2em 0 2em;
}
/* general font styles */
h1,h2{
    font-weight: 700;
    text-align: center;
}
p{
    font-size: 0.875rem;
    text-align: center;
    line-height: 1.313rem;
}
/* navigation */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 60%;
}
.nav-list{
    max-width: 50%;
    display: flex;
    gap: 1rem;
}
.nav-list a{
    font-size: 0.75rem;
    white-space: nowrap;
}

/* background images width to make responsive */
.bg img{
    max-width: 100%;
}

/* first top container */
.top-container{
    display: grid;
    row-gap: 2.5em;
    margin-top: 6.438em;
}
.top-container-info{
    display: grid;
    row-gap: 1.5em;
}
h1{
    font-size: 1.5rem;
    line-height: 2.25rem;  
}

/* form tag */
form input,button{
    display:inline;
    width: 100%;
    border-radius: 3.125px;
    border: 0.625px solid var(--Very-Dark-Blue);
}
form{
    display: grid;
    gap: 1em;
}
form input{
    padding: 1em 0;
    padding-left: 1.313em;
    color:var(--Light-Gray);
}
form button{
    border: none;
    padding: 0.9em;
    background-color: var(--Bright-Blue);
    color: white;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
    cursor: pointer;
}
/* general form error msg font-size */
form span{
    font-size: 1rem; 
}

.input-control{
    display: flex;
    flex-direction: column;
}
/* second bottom container */
.bottom-container{
    margin-top: 5.625rem;
}
.bottom-bg-wrapper, .bottom-container-info{
    padding:0 2em;
}
/* curved background image */
.curve-bg{
    width: 100%;
    height: 35px;
}
/* background color for second container */
.bottom-container-info, .bottom-bg-wrapper{
    background-color: #F8F8FE;
}
.bottom-bg-wrapper{
    margin-top: -5px;
}
.bottom-container-info{
    padding-bottom: 5.9em;
    display: grid;
    row-gap: 1rem;
}
.bottom-bg-wrapper img{
    padding: 5.813em 0 5.438em 0;
}
/* info container */
h2{
    font-size: 1rem;
}
.green-text{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.green-text img{
    width: 12px;
    height: 12px;
}
.green-text p{
    color: var(--Moderate-Cyan);
    font-size: 0.75rem;
    border-bottom: 1px solid var(--Moderate-Cyan);
}
/* set general styles for testimonial box */
article{
    max-width: 17.5rem;
    max-height: 10.569rem;
    background: white;
    box-shadow: 0px 0px 8px 4px rgba(56, 56, 56, 0.0458843);
    border-radius: 3.93258px;
    margin: 0 auto;
    padding: 1em;
    display: grid;
    gap: 0.3em;
}
article p{
    font-size: 0.625rem;
    text-align: left;
}
/* avatar-testimonial*/
.avatar-testimonial{
    display: flex;
    align-items: center; 
}
/* avatar description */
.avatar{
    display: flex;
    flex-direction: column;
    margin-left: 7px;
}
.avatar-job{
    font-size: 0.375rem;
    line-height: 11.8px;
    letter-spacing: 0.3px;
}
/* avatar image */
article img{
    width: 24px;
    height: 24px;
    border-radius: 50%;
}
/* get access section */
.get-access{
    height: 23.438rem;
    background-color: var(--Desaturated-Blue);
    padding: 2.5em;
    display: grid;
    row-gap: 0.5em;
    color: white;
}

/* footer */
footer{
    height: 36.875rem;
    background: var(--Very-Dark-Blue);
    padding: 3em;
    display: grid;
    row-gap: 2em;
}
footer a{
    color: white;
    font-size: 1rem;
}
.footer-content{
    display: grid;
    gap: 2em;
}
/* make footer image white and set width */
footer .logo{
    filter: brightness(0) invert(1);
    max-width: 40%;
}
/* row-gap in different parent sections */
footer .about-us, .contact-us, .contact{
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}
/* make social media icons centered */
footer .social-media{
    display: flex;
    justify-content: center;
    column-gap:10px;
}
/* hovers */
#submit:hover{
    background:#6C9BFF;
}
footer a:hover{
    color: var(--Bright-Blue);
}
footer .social-media a:hover path{
    fill:var(--Bright-Blue);
}

@media (min-width:62.5rem) {
    /* set general padding */
    nav, .top-container{
        padding: 5em 5em 0 5em;
    }
    /* sort containers in a row */
    .top-container{
        padding-top: 0 !important;
        display: flex;
        column-gap: 10%; 
    }
    .top-container-info{
        order: 1;
    }
    .top-bg-wrapper{
        order: 2;
    }
    /* set max-width to top container bg */
    .top-container img{
        max-width: 23em;
    }
    /* set max-width to top container text info */
    .top-container-info{
        display: grid;
        row-gap: 0.5rem !important;
        max-width: 50%;
    }
    .top-container h1, p{
        text-align: left;
    }
    h1{
        font-size: 2.5rem;
    }
    /* input styles */
    .top-container form{
        display: flex;
        gap: 1em;
    }
    .top-container input{
        width: 20rem;
        height: 45px;
    }
    .top-container button{
        width: 12.5rem;
        height: 45px;
    }
    /* sort containers in a row - bottom section */
    .bottom-container{
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 5em 5em 0 5em;
        background-color: #F8F8FE;
        column-gap: 10%;
    }
    .bottom-container-info{
        order: 1;
        display: flex;
        flex-direction: column;
        row-gap: 0.7rem;
        max-width: 55%;
        padding-bottom: 6.688em;
        align-items: flex-start;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .bottom-bg-wrapper{
        max-width: 27rem;
        order: 2;
    }
    .curve-bg{
        display: none;
    }
    /* avatar testimonial section */
    article{
        margin-top: 2.813em;
        margin-left: 0 !important;
    }
    .bottom-container h2{
        font-size: 2.5rem;
        text-align: left;
    }
    /* get access section */
    .get-access{
        padding: 5em 5em 0 5em;
        display: flex;
        column-gap: 10%;
        height: 21rem;
    }
    .get-access-info{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 33.313rem;
        row-gap: 1em;
    }
    .get-access h2{
        font-size: 2rem;
        text-align: left;
    }
    /* input styles */
    .get-access input{
        width: 30rem;
        height: 45px;
    }
    .get-access button{
        width: 12.5rem;
        height: 45px;
    }
    /* footer */
    footer{
        height: 24.375rem;
        padding: 5em;
    }
    .footer-content{
        display: flex;
        justify-content: space-between;
    }
}